*{
    margin:0;
    padding:0;
    box-sizing:border-box; 
}

body{
    min-height: 100vh;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:2rem
}
.container div{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    overflow: hidden;
    z-index:-1;
    font-size: 25px;
}
label{
    padding:10px;
    font-size:2em;
    background:orange;
    margin:1rem;
    cursor: pointer;
    border-radius: 50%;
}
